body {
  font-family: Arial, sans-serif;
  background-color: #5A5A5A;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

p {
  color: purple;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
}


 .box1 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
}

 .box2 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
}

.button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: green;
	color: white;
	cursor: pointer;
	margin-bottom: 10px;
  }

.disabledbutton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.6;
  cursor: not-allowed;
}

#svgmap {
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
  margin: auto;
  width: 100%;
  height: 98vh;
}