body {
  font-family: Arial, sans-serif;
  background-color: #5A5A5A;
}

h1 {
  color: blue;
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

p {
  color: purple;
  font-size: 18px;
  line-height: 1.5;
  margin: 10px;
}

 .box1 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
}

 .box2 {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  box-sizing: border-box;
}

#button_home {
	position: absolute;
	margin-left: 820px;
	margin-top: 15px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px #4CAF50;
}

.button:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 20px #4CAF50;
}

.disabledbutton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.6;
  cursor: not-allowed;
}

.mapbox {
width: 775px;
height: 528px;
border: 5px solid;
padding-top: 10px;
margin-left: 10px;
margin-right: auto;
margin-top: 15px;
display: block;
background-color: #808080;
}

.mapbox svg path {
  cursor: pointer;
}

.mapbox svg path:hover {
  fill: pink;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 570px;
  border: 1px solid lightgray;
  width: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border: 1px solid blue;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 5px blue;
}

#counter {
  font-size: 30px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

#button_canvasgame {
	position: relative;
}

#myCanvas {
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  background-color: #5A5A5A;
  margin-top: 20px;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);
}

  
 #button_canvasgame_home {
    display: block;
    margin: 0 auto;
	margin-top: 10px;
}