* {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

body, html {
    height: 100%;
    background-color: #333;
}



.central-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally and vertically */
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.central-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.central-container button:hover {
    background-color: #45a049;
}

.selector-box {
  display: flex;
  margin-bottom: 20px; /* Add margin to space out from other elements */
  
}

.option {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  margin-bottom: 20px; /* Add margin below each option */
  margin-right: 20px;
}

.option:last-child {
  margin-right: 0; /* Remove margin from the last option to avoid extra space */
}

.option input[type="radio"] {
  display: none;
}

.option label {
  cursor: pointer;
  padding: 20px;
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center;
  text-align: center;
}

.option input[type="radio"]:checked + label {
  background-color: #4CAF50;
  color: white;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center;
}

.option input[type="range"] {
  width: 80%;
  margin-top: 10px; /* Add margin between text and slider */
}

#slider-value {
  margin-top: 10px; /* Add margin between slider and value */
}