/* style.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust to fit your fullscreen map */
}

.custom-circle-icon {
    width: 10px; /* Set the width of the icon */
    height: 10px; /* Set the height of the icon */
}
  
.circle {
    width: 100%; /* Set the width of the circle to fill the container */
    height: 100%; /* Set the height of the circle to fill the container */
    border-radius: 50%; /* Make the div a circle by setting border radius to 50% */
    background-color: red; /* Set the background color of the circle */
}

.search-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.search-container label {
    margin-right: 5px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    width: 500px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.radio-container {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;  
}

.radio-container label {
    display: block;
    margin-bottom: 5px;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}