

* {
    font-family: "Courier New", Courier, monospace;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
}

.custom-circle-icon {
    width: 10px; 
    height: 10px;
}
  
.circle {
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
    background-color: red; 
}

.search-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.search-container label {
    margin-right: 5px;
}

.search-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    width: 500px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


/* Define the CSS animation */
@keyframes shake_input {
    0%, 100% { transform: translateX(0); }
    10%, 90% { transform: translateX(-3px); }
    20%, 80% { transform: translateX(3px); }
    30%, 70% { transform: translateX(-3px); }
    40%, 60% { transform: translateX(3px); }
}


/* Apply the animation to the input field */
.shake_input {
    animation: shake_input 0.5s ease-in-out;
}


.upper_left-container {
    position: absolute;
    top: 20px; 
    left: 20px; 
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7); 
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    max-width: 35%;
}

.radio-container,
.score-container,
.score-container-click,
.slider-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}


.custom-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none; /* This prevents the popup from blocking mouse events */
    z-index: 1000;
}

#city-name-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    z-index: 1000;
}


#chat-container {
    position: absolute;
    bottom: 70px; /* Adjust as needed */
    left: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse; /* Stack messages in reverse order */
}

.chat-message {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 2s;
    margin-bottom: 10px; /* Spacing between messages */
}

.chat-message.fade-out {
    opacity: 0;
}
